body {
  font-family: 'Roboto', sans-serif;
}

.background_image{
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 1px;
  background: transparent url('img/Image 3.png') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
}

.rectangle1{
  top: 0px;
  left: 30px;
  width: 570px;
  height: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px #00000029;
  padding: 32px 15px;
}

.rectangle_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.rectangle_topic{
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

.add_task{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #707070;
  cursor: pointer;
}

.checkbox_add_task{
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.task{
  width: 100%;
  height: 40px;
  background: #0606060A;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  margin-bottom: 2px;
}

.task_result{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.is_important{
  width: 20px;
  height: 20px;
  background: transparent url('img/hiprio.png') center/contain no-repeat;
  cursor: pointer;
}

.task_name{
  flex: 1;
  font-size: 14px;
  color: #707070;
}

.change_task{
  width: 16px;
  height: 16px;
  background: #707070;
  cursor: pointer;
  background: transparent url('img/pencil.png');
}

.delete_task{
  width: 20px;
  height: 20px;
  background: transparent url('img/trashbin.png') center/contain no-repeat;
  cursor: pointer;
}

.card{
  width: 555px;
  height: 212px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 0px 14px 14px 0px;
  margin-left: 15px;
}

.card_name{
  top: 99px;
  width: 95%;
  height: 22px;

  text-align: left;
  color: #000000;
}

.card_task{
  top: 128px;
  left: 990px;
  width: 47px;
  height: 17px;



  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.card_add_task{
  top: 150px;
  left: 990px;
  width: 510px;
  height: 24px;



  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #AAAAAABF;
  border-radius: 2px;
  opacity: 1;
}

.card_priority{
  top: 189px;
  left: 1017px;
  width: 130px;
  height: 17px;



  text-align: left;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.card_checkbox_priority{
  left: 992px;
  width: 17px;
  height: 17px;

  background: #707070 0% 0% no-repeat padding-box;
  opacity: 1;
}
.card_priority::after{
  content: "";
  width: 20px;
  height: 20px;
  background: transparent url('img/hiprio.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card_button_save{
  top: 223px;
  left: 990px;
  width: 126px;
  height: 32px;



  background: #3F88E8 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
}

.card_button_cansel{
  top: 223px;
  left: 1131px;
  width: 120px;
  height: 32px;



  border: 1px solid #707070;
  border-radius: 32px;
  opacity: 1;
}
